<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Inc-Group Incentivos{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('public/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('public/css/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {{ include('menu.html.twig') }}
        {% endblock %}
        {% block javascripts %}
          <script src="{{asset('public/js/jquery.min.js')}}"></script>
          <script src="{{asset('public/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
