<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Cambiar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Inc-Group</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('inc_group_participantes_subircsv')}}">Cargar participantes</a></li>
            <li><a href="{{ path('inc_group_participantes_guardar_data_csv')}}">Ver participantes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('inc_group_variables_subircsv')}}">Cargar variables</a></li>
            <li><a href="{{ path('inc_group_variables_guardar_data_csv')}}">Ver variables</a></li>
            <li><a href="{{ path('inc_group_variables_liquidar')}}" target="_blank">Liquidar variables</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
