{% extends 'layout.html.twig'%}

{% block body %}
{{ parent()}}
<h2 style="text-align:center;">Variables</h2>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group pull-right" role="group" aria-label="...">
        <a type="button" href="{{ path('inc_group_variables_liquidar')}}" target="_blank" class="btn btn-success">Liquidar Variables</a>
      </div>

      <table class="table table-condensed">
        <thead>
          <tr>
             <th>Nombre</th>
             <th>Cedula</th>
             <th>Mes</th>
             <th>Objetivo</th>
             <th>Cumplimiento</th>
             <th>Premio</th>
           </tr>
         </thead>
           <tbody>
             {% for variable in variables %}
             <tr>
               <td>{{ variable.participante.nombre }}</td>
               <td>{{ variable.participante.cedula }}</td>
               <td>{{ variable.mes }}</td>
               <td>{{ variable.objetivo }}</td>
               <td>{{ variable.cumplimiento }}</td>
               <td>{{ variable.premio }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
</div>
{% endblock %}
