{% extends 'layout.html.twig'%}

{% block body %}
{{ parent()}}

<h2 style="text-align:center;">Cargar Participantes</h2>

{% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="{{ path('inc_group_participantes_guardar_data_csv')}}" method="post" {{ form_enctype(form) }}>
        <div class="form-group">
          {{ form_widget(form) }}
          <p class="help-block">Subir archivos csv para participantes.</p>
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
