{% extends 'layout.html.twig'%}

{% block body %}
{{ parent()}}
<h2 style="text-align:center;">Participantes</h2>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-condensed">
        <thead>
          <tr>
             <th>#id</th>
             <th>Nombre</th>
             <th>Cedula</th>
             <th>Edad</th>
             <th>Sexo</th>
           </tr>
         </thead>
           <tbody>
             {% for participante in participantes %}
             <tr>
               <th scope="row">{{participante.idExcel}}</th>
               <td>{{ participante.nombre }}</td>
               <td>{{ participante.cedula }}</td>
               <td>{{ participante.edad }}</td>
               {% if participante.genero == 0 %}
                <td>femenino</td>
               {% elseif participante.genero == 1 %}
                <td>masculino</td>
               {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>
  </div>
</div>
{% endblock %}
